<h1>座席表</h1>

<table border="1">
  <thead>
    <tr>
      <th colspan="5">スクリーン</th>
    </tr>
  </thead>
  <tbody>
    <% @sheets.each do |row, seats| %>
      <tr>
        <% seats.sort_by(&:column).each do |sheet| %>
          <td><%= "#{sheet.row}-#{sheet.column}" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>