.admin-wrapper {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: #eaf4fc;
    padding: 10px;
    border-right: 1px solid #ccc;
  
    h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    ul {
      list-style: none;
      padding: 0;
    }
  
    li {
      margin-bottom: 5px;
      font-weight: bold;
    }
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .movie-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  
    th, td {
      border: 1px solid #ccc;
      padding: 8px;
    }
  
    thead {
      background-color: #d6eaff;
    }
  
    td {
      vertical-align: top;
    }
  }